* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}

body {
    font-family: 'roboto';
    font-weight: 100;
    font-size: 12px;
    color: #777;

}

.page.invalid {
    background: tomato;
}

.page {
    background: #4caf50;
    transition: 0.5s;
    padding-top: 20px;
}

.container {
    min-height: 100vh;
    max-width: 400px;
    margin: 50px auto;
}


.buttons {
    display: flex;
}